* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #4b6cb7, #182848);
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 30px;
    color: white;
}

.container {
    display: flex;
    gap: 25px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h2 {
    text-align: center;
    margin-bottom: 15px;
}

.section-title {
    margin-top: 20px;
    font-size: 15px;
}

label {
    margin-top: 12px;
    display: block;
    font-weight: 600;
    font-size: 14px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #4b6cb7;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #395591;
}

.preview {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    display: none;
}

.progress {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#confidenceBar {
    height: 100%;
    width: 0%;
    background: green;
}

.reliability {
    margin-top: 10px;
    font-weight: bold;
}

.why-box {
    margin-top: 15px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.recent {
    margin-top: 15px;
    font-size: 14px;
}

.checkbox {
    font-size: 13px;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
}
